.App {
  text-align: center;
  background-image: url("/public/dariusz-sankowski-3OiYMgDKJ6k-unsplash.jpg");
  background-size: cover;
  background-repeat: 'no-repeat';
  padding-bottom: 30%;


}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.content-container{
  grid-template-rows: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;

}

.flag-container{
  text-align: left;

}

.country-container{
  display: grid;
  grid-template-areas: "flag info info info";
  background-color: rgba(230, 230, 230, 0.959);
  padding-bottom: 5%;
}

.flag{
  grid-area: flag;
  padding-top: 10%;
}

.info{
  grid-area: info;
  text-align: left;
  padding-right: 5%;

}
